.slider {
    position: relative;
}

.slider .carousel-item{
    height: 532px;
    padding-bottom: 40px;
}

.carousel-item__content{
    width: 50%;
}

.carousel-indicators{
    margin-bottom: 0;
    bottom: -75px;
    position: absolute;
}

.slider .carousel-indicators button,
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border: 1px solid #7E5D6F;
    border-radius: 50%;
    margin: 0 12.5px;
    opacity: 1;
}

.slider .carousel-indicators button:not(.active){
    background: white;
}

.slider .carousel-indicators button,
.swiper-pagination-bullet-active{
    background: #7E5D6F;
}